.card-lookup__container {
    align-items: center;
    justify-items: center;
    text-align: center;
}

.card-lookup__search-container {
    border: none;

}

#card-lookup__submit-button {
    display: inline-block;
    padding: 10px 15px;
    width: 7vw;
    font-size: 20px;
    border-radius: 0;

    border: 1px solid transparent;
    background-color: rgb(161, 161, 161);
    background-image: url('../../../assets/images/card-search.png');
}

.card-lookup__search-container button:focus {
    outline: none;
}

.card-lookup__search-container button:hover {
    outline: none;
}

.card-lookup__search-input {
    display: inline-block;
    padding: 10px 0;
    width: 25vw;
    font-size: 20px;
    border-radius: 0;

    border: 1px solid transparent;
    background-color: grey;
    color: white;

    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.card-lookup__search-input:focus {
    outline: none;
}

.card-lookup__search-img {
    cursor: pointer;

    height: 4vh;
    width: 2.5vw;
    display: inline-block;
    vertical-align: top;
}

.card-lookup__card-result {
    color: white;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.card-lookup__card-result img {
    height: 45vh;
    margin: 0 auto;

    margin-left: auto;
    margin-right: auto;

    gap: .3rem;
}

.card-lookup__card-details {
    margin: 0 auto;

    margin-left: auto;
    margin-right: auto;

    display: grid;
    gap: .3rem;
    grid-template-columns: repeat(2, 2fr);

    width: 70vw;
    height: 45vh;

    overflow-y: auto;

    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;


}

.card-lookup__card-details h3 {
    font-size: 1.5vw;
    font-size: 1.5vh;


}

.card-lookup__card-details h4 {
    font-size: 1.5vw;
    font-size: 1.5vh;
}

#card-lookup__image-flip {
    display: inline-block;
    padding: 10px 15px;
    width: 4vw;
    font-size: 15px;
    border-radius: 0;

    border: 1px solid transparent;
    background-color: rgb(161, 161, 161);

}

#card-lookup__image-flip:hover {
    background-color: rgb(185, 185, 185);
}